@{
    ViewData["Title"] = "Index";
}

<form>
    <h2>Lấy danh sách tất cả user</h2>

    <button>Lấy</button>

    <table>
        <thead>
            <tr> 
                <th>ID</th>
                <th>Tên</th>
                <th>
                    All
                    <input type="checkbox" id="userID" name="checkboxi" value="1">
                </th>
            </tr>
        </thead>
    </table>

    <button>Gửi</button>
</form>
